---
import type { Prefecture } from '@components/feature/graph/PopulationGraph';

interface Props {
  prefecture: Prefecture
  onChangePrefectureItem: (pref: Prefecture) => void
  isChecked: boolean
}

const {prefecture, onChangePrefectureItem, isChecked} = Astro.props

---

<input
  type="checkbox"
  id={prefecture.prefCode.toString()}
  data-checkBox="checkBox"
  value={prefecture.prefCode}
  checked={isChecked}
  name={prefecture.prefName}
/>
<label for={prefecture.prefCode.toString()}>{prefecture.prefName}</label>

<script define:vars={{ onChangePrefectureItem, prefecture }}>
  const handleOnChange = () => {
    console.log(prefecture)
    
  }
  document.getElementById(prefecture.prefCode.toString()).addEventListener("click", handleOnChange);
</script>

